
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*=======================================
    GENERAL STYLES
==================================================*/

body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}


.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
    color:#E91C1C;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
   padding-top: 25px;
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;

}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}

.space-free {
    height:100px;
}
.g-pad-bottom {
    padding-bottom:30px;
}

.form-control {
        background-color: rgba(255, 255, 255, 0);
}

.label-danger {
font-size: 18px;
}
/*=======================================
    HOME SECTION STYLES
==================================================*/

.go-marg {
    margin-top:40px;
}

#home-sec { 
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100% !important;
display: block;
height: auto;
    color:#fff;
}

.head-main {
    font-size:50px ;
    font-weight:900;
    border:5px outset  #fff;
    padding:15px;
    text-transform:uppercase;
    
}

.head-last {
     margin-top:70px;
    font-size:18px ;
    font-weight:900;
    padding:5px 20px 20px 20px;
    border:1px dotted #fff;
    padding:5px;
}


/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
.navbar {
	font-size: 18px;
}

.navbar-inverse {
background: #fff;
min-height: 60px;
padding-top: 5px;

}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: #000;
	font-weight: bolder;
	font-size: 25px;
    font-weight:900;
	letter-spacing: 2px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #000;	
}
.navbar-inverse .navbar-nav > li > a {
color: #000;
}
.navbar-inverse {
border-color: #D6D6D6;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000;
}
.navbar-toggle {
    background-color: black;
}
/*==========================================
    PORTFOLIO STYLES
    =====================================================*/


.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;
  
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #E91C1C;
color: #fff;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*=======================================
    Contact STYLES
==================================================*/

.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
background-color: #FFFFFF;
color: #000;
padding: 20px 50px 20px 50px;
text-align: right;
border-top: 1px solid #d6d6d6;
}


/*=======================================
    MEDIA QUERIES
    
    ==================================================*/

@media all and (max-width:640px) and (min-width:381px) {
    .head-main { 
        font-size:28px ;
    }
}
@media all and (max-width:381px) and (min-width:200px) {
    .head-main { 
        font-size:24px ;
    }
}

section#services-sec, section#home-gallery-sec, section#gallery-sec{
    padding-top: 10px !important;
    margin-top: 10px !important;
}

.g-pad-bottom > .alert-info, .g-pad-bottom > .alert-success, .g-pad-bottom> .alert-danger {
        min-height: 200px;
}

#footer.text-center {
    text-align: center;
}

.thumb {
    margin-bottom: 30px;
}

section#gallery-sec .page-header {
    margin: 0px 0 20px !important;
}

section#packages-sec .page-header,
section#contacts-sec .page-header {
    margin: 20px 0 20px !important;    
}

section#gallery-sec .carousel-inner>.item>a>img, .carousel-inner>.item>img, 
section#gallery-sec .img-responsive,
section#gallery-sec .thumbnail a>img,
section#gallery-sec .thumbnail>img {
    width: 100% !important;
    height: 150px !important;
}

section#packages-sec h4,
section#contacts-sec h4 {
    padding-top: 0 !important;
    margin-top: 0 !important;
    line-height: 30px !important;
} 

section#packages-sec p {
    line-height: 20px !important;
    padding-bottom: 0 !important;
} 

section#contacts-sec p {
    line-height: 0 !important;
    padding-bottom: 0 !important;
} 

section#packages-sec .label-danger,
section#packages-sec .label-info,
section#packages-sec .label-warning {
    font-size: 12px !important;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: rgba(255,255,255,.15) !important;
    border-color: #ddd;
}

section#home-search-results-sec .panel-heading>h4 {
    padding-top: 0 !important;
    line-height: 10px !important;
    padding-bottom: 0px;
    font-size: 18px !important;
    font-weight: 900;
}

.lbl-sm {
    font-size: 50% !important;
}

.alkColor {
    color: #01426a !important;
}

.colorGreen {
    color: greenyellow !important;
}

.fa-2x {
    font-size: 120% !important;
}

small.flightime {
    font-size: 70% !important;
}

.cursorPointer{
    cursor: pointer;
}


.flight-info .label {
    font-size: 85% !important;
}

.styled-input {
  float: left;
  width: 100%;
  margin: 2rem 0 1rem;
  position: relative;
}

.styled-input label {
  color: #999;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 100%;
}

.searchBtn.pull-right {
        margin-top: 10px !important;
}

h4.sortBy{
    padding-top: 0 !important;
}

.floatingNav .fa {
    padding: 5px !important;
    text-decoration: none !important;
}

.floatingNav .fa:hover,
.floatingNav .fa:focus {
    
}